.description {
    margin: 0 auto;
    padding: 92px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 984px;
}

@media screen and (max-width: 1024px) {
  .description {
    max-width: 720px;
    min-width: 690px;
  }
}

@media screen and (max-width: 800px) {
  .description {
    margin-left: 24px;
    max-width: 700px;
    padding: 0px 0px 88px;
    min-width: 288px;
  }
}

@media screen and (max-width: 350px) {
  .description {
    margin: 0 auto;
    padding: 0;
    max-width: 288px;
    min-width: 0px;
  }
}