.description {
    margin: 0 auto;
    padding: 92px 0px 92px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 984px;
    align-self: flex-start;
    box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .description {
    margin-right: 0px;
    margin-left: 48px;
    max-width: 720px;
    min-width: 690px;
  }
}

@media screen and (max-width: 800px) {
  .description {
    margin-left: 0px;
    padding-top:0px;
    padding-bottom: 65px;
    min-width: 288px;
    max-width: 768px;
  }
}

@media screen and (max-width: 350px) {
  .description {
    margin: 0 auto;
    padding: 0;
    max-width: 288px;
    min-width: 0px;
  }
}