.road__subtitle{
  padding: 0px 0px 64px;
  margin: 0;
  max-width: 640px;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .road__subtitle {
    padding: 0px 0px 56px;
  }
}

@media screen and (max-width: 620px) {
  .road__subtitle {
    font-size: 16px;
    line-height: 20px;
  }
}

@media screen and (max-width: 320px) {
  .road__subtitle {
    max-width: 288px;
    padding-bottom: 40px;
  }
}