.page{
  display: flex;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  flex-direction: column;
  outline: red solid 1px ;
  align-items: center;
  font-family: 'Inter', Arial, sans-serif;
  background-color: #2A2C2F;
  color: #FFFFFF;
  overflow-x: hidden;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

@media screen and (max-width: 768px) {
  .page{
    align-self: center;
  }
}
