.page{
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  align-self: center;
  font-family: 'Inter', Arial, sans-serif;
  background-color: #2A2C2F;
  color: #FFFFFF;
  box-sizing: content-box;
}