.description__digits {
  margin: 0;
  padding: 0;
  max-width: 690px;
  list-style-type: none;
  font-weight: 700;
  width: 100%;
  font-size: 0.75rem;
  line-height: 1.5em;
  text-align: start;
}

@media screen and (max-width: 768px) {
  .description__digits {
    max-width: 720px;
    min-width: 288px;
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (max-width: 425px) {
  .description__digits {
    padding-bottom: 0px;
  }
}

@media screen and (max-width: 320px) {
  .description__digits {
    font-size: 12px;
    line-height: 18px;
    padding-bottom: 64px;
  }
}