.gallery{
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
  grid-gap: 16px;
  padding: 0;
  max-width: 1184px;
}

@media screen and (max-width: 1184px) {
  .gallery{
    grid-row-gap: 14px;
    grid-column-gap: 14px;
    max-width: 1000px;
    width: 90%;
  }
}

@media screen and (max-width: 1088px) {
  .gallery {
    max-width: 928px;
    grid-gap: 14px;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .gallery {
    max-width: 720px;
    grid-gap: 16px;
  }
}

@media screen and (max-width: 320px) {
  .gallery{
    grid-gap: 12px;
  }
}
