.gallery{
  margin: 0 auto;
  display: grid;
  max-width: 1184px;
  grid-template-columns: repeat(4,  minmax( 150px, 1fr));
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  box-sizing: content-box; 
  height: 100%;
  padding-top: 132px;
  object-fit: cover;
}

@media screen and (min-width: 1281px) {
  .gallery{
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 1184px) {
  .gallery{
    padding-top: 32px;
    grid-row-gap: 14px;
    grid-column-gap: 14px;
    max-width: 1000px;
    width: 90%;
  }
}

@media screen and (max-width: 1088px) {
  .gallery{
    padding: 0;
    margin: auto;
    grid-row-gap: 12px;
    grid-column-gap: 12px;
    min-width: 720px;
    max-width: 900px;
    width: 90%;
    grid-template-columns: repeat(3,  30%);
  }
}

@media screen and (max-width: 768px) {
  .gallery{
    margin-top: 114px;
    grid-template-columns: repeat(auto-fit, minmax(288px,1fr));
    grid-column-gap: 16px;
    max-width: 720px;
    min-width: 288px;
    width: 100%;
    align-self: center;
  }
}


@media screen and (max-width: 600px) {
  .gallery{
    margin-top: 200px;
  }
}

@media screen and (max-width: 500px) {
  .gallery{
    margin-top: 300px;
  }
}

@media screen and (max-width: 400px) {
  .gallery{
    margin-top: 400px;
  }
}

@media screen and (max-width: 320px) {
  .gallery{
    margin: auto;
    margin-top: 664px;
    grid-template-columns: [ col-start ] 1fr [ col-end ];
    grid-template-rows: 216px;
    grid-auto-flow: row;
    grid-auto-rows: 216px;
    grid-row-gap: 16px;
    max-width: 288px;
  }
}
