.places{
  display: grid;
  grid-template-columns: repeat(2, [col-start] minmax(440px, 460px)[col-end]);
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 80px;
  justify-content: center;
  align-items: center;
  text-align: start;
  padding-bottom: 92px ;
}

@media screen and (max-width: 767px) {
  .places{
      grid-template-columns: 2, [col-start] minmax(340px, 352px)[col-end];
      grid-template-rows: 1fr;
      grid-column-gap: 28px;
  }
}

@media screen and (max-width: 320px) {
  .places {
      grid-template-columns: 1,[col-start] minmax(288px, 320px)[col-end];
      grid-template-rows: 1fr;
      grid-row-gap: 32px;
  }
}