.places{
  display: grid;
  grid-template-columns: repeat(2, [col-start] minmax(440px, 460px)[col-end]);
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 80px;
  justify-content: center;
  align-items: center;
  text-align: start;
  padding-bottom: 92px;
  margin: 0 auto;
  padding-top: 92px;
}


@media screen and (max-width: 1024px) {
  .places{
      max-width: 928px;
      grid-template-columns: repeat(2, [col-start] minmax(300px, 1fr)[col-end]);
      grid-template-rows: 1fr;
      grid-column-gap: 32px;
  }
}

@media screen and (max-width: 768px) {
      .places{
      max-width: 720px;
      grid-template-columns: repeat(auto-fit, minmax(288px,1fr));
      grid-template-rows: 1fr;
      grid-column-gap: 32px;
  }
}

@media screen and (max-width: 425px) {
  .places {
      margin-top: 0;
  }
}

@media screen and (max-width: 320px) {
  .places {
      max-width: 288px;
      grid-template-columns: auto;
      grid-row-gap: 32px;
      padding-bottom: 66px;
      padding-left: 0;
      padding-right: 0;
  }
}