.places__url{
  padding: 0;
  margin: 0;
  max-width: 456px;
  font-weight: 400;
  font-size: 12px;
  line-height: 170%;
  letter-spacing: 2px;
  color: #AAAAAA;
  align-self: center;
}

@media screen and (max-width: 320px) {
  .places__url{
    margin: auto;
    width: 100%;
    max-width: 288px;
    line-height: 12px;
    padding-bottom: 12px;
  }
}