.places__heading{
  margin: 0;
  padding: 0;
  width: 100%;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  min-width: 460px;
  text-align: start;
}

@media screen and (max-width: 1024px) {
  .places__heading{
    min-width: 340px;
    max-width: 440px;
  }
}

@media screen and (max-width: 800px) {
  .places__heading{
    min-width: 288px;
    max-width: 320px;
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (max-width: 320px) {
  .places__heading{
    max-width: 288px;
    align-self: center;
    font-size: 32px;
    line-height: 35px;
    padding-bottom: 32px;
  }
}