.places__info-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 288px;
  max-width: 484px;
}

@media screen and (max-width: 1024px) {
  .places__info-column {
    max-width: 456px;
  }
}


@media screen and (max-width: 768px) {
  .places__info-column {
    max-width: 352px;
    width: 40%;
  }
}

@media screen and (max-width: 320px) {
  .places__info-column {
    max-width: 288px;
  }
}