.places__link {
  padding: 12px 0px 48px;
  margin: 0px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  text-align: start;
  text-decoration-line: underline;
  opacity: 1;
  transition: 0.5s;
  color: white;
  padding-bottom: 48px;

}

.places__link:hover {
  opacity: 0.8;
}