.places__link {
  margin: 0;
  padding: 0;
  font-weight: 400;
  text-align: start;
  text-decoration-line: underline;
  opacity: 1;
  transition: 0.5s;
  color: white;
  font-size: 18px;
  line-height: 1.22;
}

.places__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 450px) {
  .places__link {
    padding: 16px;
  }
}