.description__section{
  margin: auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: flex-start;
  text-align: start;
  width: 100%;
  min-width: 984px;
}

@media screen and (max-width: 1024px) {
  .description__section{
    margin: auto;
    min-width: 720px;
    max-width: fit-content;
  }
}

@media screen and (max-width: 768px) {
  .description__section{
    margin: 0 auto;
    max-width: 720px;
    width: 100%;
    min-width: 288px;
  }
}

@media screen and (max-width: 320px) {
  .description__section{
    margin: auto;
    max-width: 288px;
    min-width: 0px;
  }
}