.description__section {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: flex-start;
  text-align: start;
  width: 100%;
  min-width: 984px;
}

@media screen and (max-width: 1024px) {
  .description__section {
    min-width: 720px;
    max-width: fit-content;
  }
}

@media screen and (max-width: 768px) {
  .description__section {
    max-width: 690px;
    min-width: 288px;
  }
}

@media screen and (max-width: 350px) {
  .description__section {
    max-width: 288px;
    min-width: 0px;
  }
}