.baikal__heading{
  margin: 0;
  padding: 0;
  z-index: 2;
  display: inline-block;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  max-width: 560px;
  width: 100%;
  word-wrap: normal;
  font-style: normal;
  min-height: 152px;
  padding-bottom: 32px;
}

@media screen and (max-width: 768px) {
  .baikal__heading {
    max-width: 560px;
    min-height: 152px;
    font-size: 4rem;
    line-height: 1.1em;
    text-align: center;
    padding-top: 115px;
  }
}

@media screen and (max-width: 560px) {
  .baikal__heading {
    font-size: 56px;
    line-height: 59px;
}
}

@media screen and (max-width: 430px) {
  .baikal__heading {
    padding-top: 40px;
    font-size: 32px;
    line-height: 35px;
    padding-bottom: 0px;
    padding-top:  33px;
  }
}

@media screen and (max-width: 320px) {
  .baikal__heading {
    max-width: 288px;
    width: 100%;
  }
}