.places__text {
  margin: 0;
  padding: 0;
  max-width: 484px;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 163%;
  word-wrap: normal;
  text-align: start;
  padding-bottom: 10px;
}

@media screen and (max-width: 1024px) {
  .places__text {
    font-size: 16px;
    max-width: 456px;
    min-width: 352px;
  }
}


@media screen and (max-width: 768px) {
  .places__text {
    font-size: 16px;
    max-width: 352px;
    min-width: 288px;
  }
}

@media screen and (max-width: 320px) {
  .places__text {
    padding: 0;
    text-align: start;
    font-size: 16px;
    max-width: 288px;
    min-width: 0px;
  }
}