.places__text {
  padding: 0;
  max-width: 484px;
  width: fit-content;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  margin: 0;
  text-align: start;
  word-break: initial;

}

@media screen and (max-width: 1024px) {
  .places__text {
    max-width: 456px;
    min-width: 352px;
  }
}


@media screen and (max-width: 800px) {
  .places__text {
    font-size: 16px;
    line-height: 26px;
    max-width: 352px;
    min-width: 288px;
  }
}

@media screen and (max-width: 320px) {
  .places__text {
    text-align: start;
    max-width: 288px;
    min-width: 0px;
    margin: auto;
  }
}