.baikal__overlay{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(42, 44, 47, 0.3);
    z-index: 1;
}

.baikal:hover .baikal__overlay {
    background-color: rgba(42, 44, 47, 0.8);
    z-index: 1;
}