.road__caption{
  display: flex;
  align-self: flex-start;
  min-width: 984px;
  text-align: start;
  font-weight: 400;
  font-size: 0.6rem;
  line-height: 1.4em;
}

@media screen and (max-width: 1024px) {
  .road__caption{
    max-width: 768px;
    min-width:  288px;
    width:100%;
  }
}

@media screen and (max-width: 768px) {
  .road__caption{
    max-width: 768px;
    min-width:  288px;
  }
}

@media screen and (max-width: 320px) {
  .road__caption{
    padding-left: 16px;
    letter-spacing: 1.5px;
    font-size: 10px;
    line-height: 14px;
    max-width: 320px;
    min-width:  100%;
  }
}