.places__heading-column{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@media screen and (max-width: 767px) {
  .places__heading-column{
    max-width: 340px;

  }
}

@media screen and (max-width: 320px) {
  .places__heading-column{
    max-width: 288px;
  }
}