.description__title{
  max-width: 984px;
  display: flex;
  text-align: start;
  width: fit-content;
  font-weight: 900;
  font-size: 3.3rem;
  line-height: 1.07em;
  padding-bottom: 40px;
}

@media screen and (max-width: 768px) {
  .description__title{
    max-width: 720px;
    padding-top: 48px;
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .description__title{
    padding-top: 48px;
    padding-bottom: 16px;
    padding-left: 0;
    max-width: 288px;
    min-width: none;
    font-size: 32px;
    line-height: 35px;
  }
}