.description__title {
  margin: 0;
  padding: 0px 0px 40px;
  max-width: 984px;
  display: block;
  text-align: start;
  font-weight: 900;
  font-style: normal;
  font-size: 54px;
  line-height: 58px;
}

@media screen and (max-width: 768px) {
  .description__title {
    max-width: fit-content;
    padding-top: 68px;
    padding-bottom: 35px;
  }
}


@media screen and (max-width: 320px) {
  .description__title {
    padding-top: 64px;
    max-width: 250px;
    min-width: 0px;
    font-size: 32px;
    line-height: 35px;
  }
}