.road__figure {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 0;
  width: 100%;
  text-align: start;
  align-items: flex-start;
}

@media screen and (max-width: 800px) {
  .road__figure {
    max-width: 768px;
  }
}

@media screen and (max-width: 320px) {
  .road__figure {
    max-width: 320px;
  }
}