.header__subtitle{
  margin: 0;
  max-width: 640px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.2em;
  text-align: center;
  padding-bottom: 64px;
}

@media screen and (max-width: 768px) {
  .header__subtitle {
    max-width: 720px;
  }
}

@media screen and (max-width: 320px) {
  .header__subtitle {
    max-width: 288px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    word-wrap: normal;
    padding-bottom: 40px;
  }
}