.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: content-box;
  padding: 0;
  margin: 0 auto;
  max-width: 100%;
  min-height: 740px;
  text-align: center;
  background-size: cover;
  background-image: url("../../images/baikal__trains.jpg");
}


@media screen and (max-width: 1040px) {
  .cover {
    min-height: 640px;
  }
}

@media screen and (max-width: 800px) {
  .cover {
    width: 100%;
    margin: 0;
    min-width: 320px;
    min-height: 480px;
  }
}

@media screen and (max-width: 350px) {
  .cover {
    max-width: 320px;
    min-width: 0px;
    row-gap: 16px;
    min-height: 200px;
  }
}