.road__main-pic {
  margin: 0 auto;
  padding: 0;
  max-width: 984px;
  object-fit: cover;
  width: inherit;
}

@media screen and (max-width: 1024px) {
  .road__main-pic {
    max-width: 928px;
    max-height: 580px;
  }
}


@media screen and (max-width: 783px) {
  .road__main-pic {
    max-width: 768px;
    max-height: 480px;
    min-width: 320px;
  }
}
@media screen and (max-width: 685px) {
  .road__main-pic {
    max-width: 350px ;
  }
}

@media screen and (max-width: 350px) {
  .road__main-pic {
    max-height: 200px;
    max-width: 320px;
    min-width: 288px;
  }
}