.gallery__picture{
  margin: 0;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .gallery__picture{
    max-width: 300px;
  }
}

@media screen and (max-width: 768px) {
  .gallery__picture{
    max-width: 352px;
  }
}


@media screen and (max-width: 320px) {
  .gallery__picture{
    max-width: 288px;
  }
}