.footer {
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-bottom: 24px;
  padding-top: 92px;
  max-width: 1184px;
  min-width: 1024px;
  width: 100%;
}

@media screen and (max-width: 1040px) {
  .footer {
    min-width: 484px;
    max-width: 1024px;
  }
}

@media screen and (max-width: 785px) {
  .footer {
    padding-top: 88px;
    column-gap: 68px;
    max-width: 600px;
  }
}

@media screen and (max-width: 638px) {
  .footer {
    padding-top: 64px;
    flex-direction: column;
    row-gap: 48px;
    max-width: 600px;
    min-width: 288px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    max-width: 288px;
  }
}